{% extends 'base.html.twig' %}

{% block body %}
    <h1>Salarie</h1>

    <table>
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ salarie.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ salarie.prenom }}</td>
            </tr>
            <tr>
                <th>Datenaissance</th>
                <td>{% if salarie.datenaissance %}{{ salarie.datenaissance|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ salarie.sexe }}</td>
            </tr>
            <tr>
                <th>Dateentre</th>
                <td>{% if salarie.dateentre %}{{ salarie.dateentre|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Typecontrat</th>
                <td>{{ salarie.typecontrat }}</td>
            </tr>
            <tr>
                <th>Dureecontrat</th>
                <td>{{ salarie.dureecontrat }}</td>
            </tr>
            <tr>
                <th>Salaire</th>
                <td>{{ salarie.salaire }}</td>
            </tr>
            <tr>
                <th>Superieurhierarchique</th>
                <td>{{ salarie.superieurhierarchique }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ salarie.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('salarie_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('salarie_edit', { 'id': salarie.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
